
*{
    
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    image-resolution: 300dpi;


}
.bg-img{
background: url("20044.jpg") no-repeat center center fixed;
background-size: cover;
height: 100vh;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: fixed;

}
nav{
background:transparent;
padding:40px 30px;
border:solid #d3d3d3 2px;
animation: slideIn 2s ease-in-out forwards;



}

nav ul li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-right: 20px;
    display: inline-block;
    left:65%;
    animation-name: nav-link-load;
    animation-duration:var(--nav-link-load-time) ;
    animation-timing-function: ease-in;
    animation-delay: var(300ms);
    animation-fill-mode: forwards;
    transform: scale(1.1);
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
nav ul li a{
color:#d3d3d3;
}


button{
width: 150px;
height: 50px;
padding: 15px 15px;
border-radius: 2%;
border:double #d3d3d3 1px ;
cursor: pointer;
color:#d3d3d3;
font-weight: 200;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
transition-duration: 0.4s;
box-shadow: 0 0 15px 0 white;
animation-name: nav-link-load;
animation-duration:var(--nav-link-load-time) ;
animation-timing-function: ease-in;
animation-delay: var(300ms);
animation-fill-mode: forwards;
transform: scale(1.1);
margin-left: 10px;
background-color: #eeeed0;
color: black;


}
button:hover{
    background-color: transparent;
    color: #d3d3d3;


}
button:active{
background-color: transparent;
color: #d3d3d3;
box-shadow: 0 0 180px 0 #d3d3d3,
0 0 180px 0 #d3d3d3 , 0 0 190px 0 #d3d3d3 inset;

}

.intro {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: slideIn 2s ease-in-out forwards;

  }
  
  .container {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #d3d3d3;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #d3d3d3;

  }
.container li a{
    color: black;
}
  .btn {
    font-size:0.9rem;
    padding: 1rem 1rem;
    border-radius: 2rem;
    font-weight: bold;
    margin:24px;
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  