*{
    
        margin: 0;
        padding:0;
        list-style: none;
        text-decoration: none;
    

}
.bg-img{
    background: url("20044.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
   
}
nav{
    background:transparent;
    padding:10px 10px;
    animation: slideIn 2s ease-in-out forwards;



}

nav ul li{
        font-family: 'Montserrat', sans-serif;
        font-weight: 50px;
        display: inline-block;
        animation-timing-function: ease-in;
        animation-delay: var(300ms);
        
}
nav ul li a{
    color:#d3d3d3;
}
.loginbox{
  
        width:25vw;
        height: 30vh;
        border: solid rgba(252, 255, 232, 0.76) ;
        position: absolute;
        top:12%;
        background: transparent;
        display: inline-block;
        margin: 8vh 10vw;
        box-shadow: 0 0 45px 0 rgb(227, 229, 204);
        padding: 100px 70px;
        display: flex;
        animation: slideIn 2s ease-in-out forwards;
        justify-content: center;
        align-items: center;
        flex-direction: column;

}
.loginbox .font{
    text-align:center;
    font-family: 'Montserrat',sans-serif;
    color: #d3d3d3;
    font-size: 1rem;
    animation: text-load 300ms ease-in 600ms;
    animation-timing-function: ease-in ;
    animation-delay: var(300ms);
}
.loginbox .font h4{
    font-weight: 200px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin:20px 40px;
    top:8%;

}

.textbox{
    margin-bottom:10%;
    margin-left: 25px;
    padding: 15px 20px;
    font-family: 'Montserrat',sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d3d3d3;
    box-shadow: 0 0 15px 0 rgb(227, 229, 204);

    
}
.textbox input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    background-color: #d3d3d3;
    
  }
.textbox :hover{
    box-shadow: 0 0 80px 0 #d3d3d3,
    0 0 80px 0 #d3d3d3 , 0 0 90px 0 #d3d3d3 inset;
    background-color: #d3d3d3;

}

.loginbox ul li a{
    display: inline-block;
    margin: 0px 15px;
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;


}
.logo{
    color: #d3d3d3;
    font-family: monospace;
    padding: 10px 10px;

}
button{
    width: 150px;
    height: 50px;
    padding: 15px 15px;
    border-radius: 2%;
    background-color: transparent;
    border:double #d3d3d3 1px ;
    cursor: pointer;
    color:#d3d3d3;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    transition-duration: 0.4s;
    box-shadow: 0 0 15px 0 white;
    animation-name: nav-link-load;
    animation-duration:var(--nav-link-load-time) ;
    animation-timing-function: ease-in;
    animation-delay: var(300ms);
    animation-fill-mode: forwards;
    transform: scale(1.1);
    margin-left: 10px;
}
button:hover{
    background-color: #eeeed0;
    color: black;
}
.button:active{
    background-color: transparent;
    color: #d3d3d3;
    box-shadow: 0 0 80px 0 #d3d3d3,
    0 0 80px 0 #d3d3d3 , 0 0 90px 0 #d3d3d3 inset;

}
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
/* styles for screens smaller than 600px */
@media (min-width: 500px) {
    body {
        font-size: 10px;
      }
      
      h1 {
        font-size: 1rem;
      }
        
      .loginbox ul li a{
          font-size: 35px;
          padding: 20px 10px;
          margin:30px;
      }
      .textbox input[type="text"] {
          font-size: 15px;
      }
      
      .loginbox{
          width:550px;
          height:550px;
          margin: 150px;

      }
      .textbox{
        height:35px;
        width:330px;
      }
      button{
        height:50px;
        width:230px;
      }
    

  }
  
  @media (min-width: 1200px) {
    body {
      font-size: 10px;
    }
    
    h1 {
      font-size: 1rem;
    }
      
    .loginbox ul li a{
        font-size: 20px;
        padding: 20px 10px;;
    }
    .textbox input[type="text"] {
        font-size: 15px;
    }
    
    .loginbox{
        width:400px;
        height: 220px;;
        top:-1.5%;
        margin-left: 30%;

    }
    
  }